<!DOCTYPE html>
        <html lang="en">
        <head>
        <meta charset="UTF-8">
        <title>Server-sent events demo</title>
</head>
<body>

<ul>
</ul>

<script>
    const channelUuid = crypto.randomUUID(),
        eventUrl = `/events/${channelUuid}/`;

    const evtSource = new EventSource(eventUrl);

    console.log("withCredentials: ", evtSource.withCredentials);
    console.log("readyState: ", evtSource.readyState);
    console.log("url: ", evtSource.url);
    const eventList = document.querySelector('ul');

    evtSource.onopen = function () {
        console.log("Connection to server opened.");
        fetch(`http://localhost:8000/events/${channelUuid}/send`).then();
        {#setTimeout(() => fetch(`http://localhost:8000/events/${channelUuid}/send`).then(), 2000);#}
    };

    evtSource.onmessage = function (e) {
        console.log(`Received message: ${e.data}`);
        const newElement = document.createElement("li");

        newElement.textContent = "message: " + e.data;
        eventList.appendChild(newElement);
    };

    evtSource.onerror = function (e) {
        console.log("Error occurred", e);
        evtSource.close();
    };

</script>
</body>
</html>
